body{
	background-image: url(img/Fondo2.jpg);
}

h1{
	background-color: white;
	color: rgba(45, 27, 147, 0.68);
}
h2{
	background-color: white;
	color: rgba(45, 27, 147, 0.68);
}

input{
	background-color: white;
	color: lime;
} 

